section {
    background-color: #f5f5dd;
}

.div-1,
.div-2,
.div-3,
.div-4 {

    height: 120px;
    width: 120px;
    margin: auto;
}

.div-1 {
    background-color: rgba(0, 0, 0, 0.932);
}

.div-2 {
    background-color: rgba(0, 0, 0, 0.699);
}

.div-3 {
    background-color: rgba(0, 0, 0, 0.445);
}

.div-4 {
    background-color: rgba(0, 0, 0, 0.151);
}