section {background-color: #f5f5dd;}
.div-1 {background-color: rgba(0, 0, 0, 0.932); height: 120px; width: 120px; margin: auto;}
.div-2 {background-color: rgba(0, 0, 0, 0.699);  height: 120px; width: 120px; margin: auto;}
.div-3 {background-color: rgba(0, 0, 0, 0.445);  height: 120px; width: 120px; margin: auto; }
.div-4 {background-color: rgba(0, 0, 0, 0.151); height: 120px; width: 120px; margin: auto; }